<div class="back-button">
  <%= link_to request.referer || root_path, class: "back-link" do %>
    <i class="back-arrow"></i>
    Back
  <% end %>
</div>

<div class="form-container lists">
  <h1 class="form-title" style="color: #F9A5A3;"><span class="angry-underline-pink">Edit the list <%= @list.title %></span></h1>
  <p class="form-description">Make changes to your list below.</p>

  <!-- Bloc pour les messages d'erreur -->
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>

  <%= simple_form_for @list, local: true do |f| %>
    <div class="form-columns">
      <div class="form-column">
        <!-- Super List Selection -->
        <div class="form-group checkbox-group">
          <p class="form-label" style="font-weight: bold;">
            Pick a family <span style="font-weight: normal;">(required)</span>
          </p>
          <% current_user.super_lists.each do |super_list| %>
            <label class="checkbox-item spaced-checkbox">
              <%= f.radio_button :super_list_id, super_list.id, checked: @list.super_list_id == super_list.id, class: "form-radio" %>
              <%= super_list.title %>
            </label>
          <% end %>
        </div>

        <!-- Title -->
        <div class="form-group">
          <%= f.label :title, class: "form-label", style: "font-weight: bold;" do %>
            Title <span style="font-weight: normal;">(required)</span>
          <% end %>
          <%= f.input :title, as: :string, placeholder: "Update the list's title", label: false, required: true, class: "form-input" %>
        </div>

        <!-- Description -->
        <div class="form-group">
          <%= f.label :description, "Description", class: "form-label", style: "font-weight: bold;" %>
          <%= f.input :description, as: :text, placeholder: "Update the description for the list", label: false, class: "form-input" %>
        </div>

        <!-- Photo Upload -->
        <div class="form-group">
          <%= f.label :photo, "Upload a picture for the list", class: "form-label", style: "font-weight: bold;" %>
          <% if @list.photo.attached? %>
            <p class="file-info">Current file: <%= @list.photo.filename %></p>
          <% end %>
          <%= f.input :photo, as: :file, label: false, class: "form-input-file" %>
        </div>

        <!-- Miniatures -->
        <div class="form-group">
          <p class="form-label" style="font-weight: bold;">Or select a picture:</p>
          <div class="thumbnail-gallery">
            <% ["living-room.avif", "dining-room.avif", "bedroom.avif", "kitchen.avif", "bathroom.avif", "office.avif", "library.avif", "bedroom-kids.avif", "garage.avif", "theater.avif", "stadium.avif", "bikes.avif", "train.avif", "plane.avif", "travel.avif", "papers.avif"].each do |image| %>
              <label class="thumbnail">
                <%= radio_button_tag :default_photo, image, @list.photo.attached? && @list.photo.filename.to_s == image, class: "thumbnail-radio" %>
                <%= image_tag image, alt: image.split('.').first.humanize, class: "thumbnail-image" %>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit and Cancel Buttons -->
    <div class="form-actions d-flex justify-content-center gap-3">
      <%= f.submit 'Update list', class: 'btn btn-primary action-button btn-create-list' %>
      <%= link_to 'Cancel', @list, class: 'btn btn-secondary action-button' %>
    </div>
  <% end %>
</div>
