<div class="form-container lists">
  <h1 class="form-title" style="color: #F9A5A3;"><span class="angry-underline-pink">Create a new list</span></h1>
  <p class="form-description">Fill out the details below to create your list.</p>

  <!-- Bloc pour les messages d'erreur -->
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>

  <%= simple_form_for @list, local: true do |f| %>
    <div class="form-columns">
      <div class="form-column">
        <!-- Super List Selection -->
        <div class="form-group checkbox-group">
          <p class="form-label" style="font-weight: bold;">Pick a family (required)</p>
          <% current_user.super_lists.each do |super_list| %>
            <label class="checkbox-item spaced-checkbox">
              <%= f.radio_button :super_list_id, super_list.id, class: "form-radio" %>
              <%= super_list.title %>
            </label>
          <% end %>
        </div>

        <!-- Title -->
        <div class="form-group">
          <%= f.label :title, "Title (required)", class: "form-label", style: "font-weight: bold;" %>
          <%= f.input :title, as: :string, placeholder: "Enter the list's title", label: false, required: true, class: "form-input" %>
        </div>

        <!-- Description -->
        <div class="form-group">
          <%= f.label :description, "Description", class: "form-label", style: "font-weight: bold;" %>
          <%= f.input :description, as: :text, placeholder: "Add a description for the list", label: false, class: "form-input" %>
        </div>

        <!-- Photo Upload -->
        <div class="form-group">
          <%= f.label :photo, "Upload a picture for the list", class: "form-label", style: "font-weight: bold;" %>
          <%= f.input :photo, as: :file, label: false, class: "form-input-file" %>
        </div>

        <!-- Miniatures -->
        <div class="form-group">
          <p class="form-label" style="font-weight: bold;">Or select a picture:</p>
          <div class="thumbnail-gallery">
            <% ["living-room.avif", "dining-room.avif", "bedroom.avif", "kitchen.avif", "bathroom.avif", "office.avif", "library.avif", "bedroom-kids.avif"].each do |image| %>
              <label class="thumbnail">
                <%= radio_button_tag :default_photo, image, false, class: "thumbnail-radio" %>
                <%= image_tag image, alt: image.split('.').first.humanize, class: "thumbnail-image" %>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="form-actions">
      <%= f.submit 'Create list', class: 'btn btn-primary action-button btn-create-list' %>
    </div>
  <% end %>

  <div class="form-cancel">
    <%= link_to 'Cancel', request.referer || lists_path, class: 'btn btn-secondary action-button' %>
  </div>
</div>
