<div class="form-container">
  <h1 class="form-title">Create a new list</h1>
  <p class="form-description">Fill out the details below to create your list.</p>

  <%= simple_form_for @list, local: true do |f| %>
    <div class="form-columns">
      <div class="form-column">
        <!-- Title -->
        <div class="form-group">
          <%= f.label :title, "Title", class: "form-label" %>
          <%= f.input :title, as: :string, placeholder: "Enter the list's title", label: false, required: true, class: "form-input" %>
        </div>

        <!-- Description -->
        <div class="form-group">
          <%= f.label :description, "Description", class: "form-label" %>
          <%= f.input :description, as: :text, placeholder: "Add a description for the list", label: false, class: "form-input" %>
        </div>

        <!-- Photo Upload -->
        <div class="form-group">
          <%= f.label :photo, "Upload a picture for the list", class: "form-label" %>
          <%= f.input :photo, as: :file, label: false, class: "form-input-file" %>
        </div>

        <!-- Miniatures -->
        <div class="form-group">
          <p class="form-label">Or select a picture:</p>
          <div class="thumbnail-gallery">
            <% ["living-room.avif", "dining-room.avif", "bedroom.avif", "kitchen.avif", "bathroom.avif"].each do |image| %>
              <label class="thumbnail">
                <%= radio_button_tag :default_photo, image, false, class: "thumbnail-radio" %>
                <%= image_tag image, alt: image.split('.').first.humanize, class: "thumbnail-image" %>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="form-actions">
      <%= f.submit 'Create list', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="form-cancel">
    <%= link_to 'Cancel', lists_path, class: 'btn btn-secondary' %>
  </div>
</div>
