<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid navbar-container">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="navbar-brand-text black-ops-one-regular">
        Propeez
      </div>
    <% end %>

    <% if user_signed_in? %>
      <!-- Centered Items for Logged-in Users -->
      <div class="navbar-center">
        <%= link_to "All items", items_path, class: "nav-link #{'active' if current_page?(items_path)}" %>
        <%= link_to "Add item", new_item_path, class: "nav-link #{'active' if current_page?(new_item_path)}" %>
        <div class="nav-separator"></div>
        <%= link_to "My lists", lists_path, class: "nav-link #{'active' if current_page?(lists_path)}" %>
        <%= link_to "Create list", new_list_path, class: "nav-link #{'active' if current_page?(new_list_path)}" %>
      </div>
    <% end %>

    <!-- Right Section -->
    <div class="d-flex align-items-center">
      <!-- Language Switcher -->
      <div class="dropdown">
        <i class="fa-solid fa-globe fa-xl dropdown-toggle language-icon" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
          <li><a class="dropdown-item" href="#">English</a></li>
          <li><a class="dropdown-item" href="#">French</a></li>
          <li><a class="dropdown-item" href="#">Spanish</a></li>
        </ul>
      </div>

      <% if user_signed_in? %>
        <!-- Avatar -->
        <% if current_user.avatar&.attached? %>
          <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "avatarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "default-avatar.png", class: "avatar dropdown-toggle", id: "avatarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
          <%= link_to "Profile", profile_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
        </div>
      <% else %>
        <!-- Login and Sign Up -->
        <%= link_to "Login", new_user_session_path, class: "nav-link text-white login #{'active' if current_page?(new_user_session_path)}" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary ms-2" %>
      <% end %>
    </div>
  </div>
</div>
