<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid navbar-container">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="navbar-brand-text black-ops-one-regular">
        Keeply
      </div>
    <% end %>

    <!-- Hamburger Button (Visible on small screens) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Central Menu -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
      <% if user_signed_in? %>
        <div class="navbar-center">
          <%= link_to "Menu", menu_path, class: "nav-link #{'active' if current_page?(menu_path)}" %>
          <div class="nav-separator"></div>
          <%= link_to "Home items", menu_home_items_path, class: "nav-link #{'active' if current_page?(menu_home_items_path)}" %>
          <%= link_to "Everyday life", menu_everyday_life_path, class: "nav-link #{'active' if current_page?(menu_everyday_life_path)}" %>
          <%= link_to "Admin papers", menu_administrative_papers_path, class: "nav-link #{'active' if current_page?(menu_administrative_papers_path)}" %>
          <div class="nav-separator"></div>
          <%= link_to "All items", items_path, class: "nav-link #{'active' if current_page?(items_path)}" %>
          <%= link_to "Add item", new_item_path, class: "nav-link #{'active' if current_page?(new_item_path)}" %>
        </div>
      <% end %>
    </div>

    <!-- Right Section -->
    <div class="d-flex align-items-center ms-auto">
      <!-- Language Switcher -->
      <div class="dropdown me-3">
        <i class="fa-solid fa-globe fa-xl dropdown-toggle language-icon" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
          <li><a class="dropdown-item no-underline" href="#">English</a></li>
          <li><a class="dropdown-item no-underline" href="#">French</a></li>
          <li><a class="dropdown-item no-underline" href="#">Spanish</a></li>
        </ul>
      </div>

      <% if user_signed_in? %>
        <!-- Avatar -->
        <% avatar_url = cloudinary_avatar_url(current_user) %>

        <% if avatar_url.present? %>
          <%= image_tag avatar_url,
            class: "avatar dropdown-toggle",
            id: "avatarDropdown",
            data: { "bs-toggle" => "dropdown" },
            "aria-haspopup" => "true",
            "aria-expanded" => "false",
            alt: "#{current_user.first_name}'s avatar"
          %>
        <% else %>
          <%= image_tag "default-avatar.png",
            class: "avatar dropdown-toggle",
            id: "avatarDropdown",
            data: { "bs-toggle" => "dropdown" },
            "aria-haspopup" => "true",
            "aria-expanded" => "false"
          %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
          <%= link_to "Profile", profile_path, class: "dropdown-item no-underline" %>
          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item no-underline", data: { turbo_method: :delete } %>
        </div>
      <% else %>
        <!-- Login and Sign Up -->
        <%= link_to "Login", new_user_session_path, class: "nav-link text-white login no-underline #{'active' if current_page?(new_user_session_path)}" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary ms-2 no-underline" %>
      <% end %>
    </div>
  </div>
</div>
